USE [master]
GO
/****** Object:  Database [TRAINING_BAYES]    Script Date: 11/27/2019 20:59:29 ******/
CREATE DATABASE [TRAINING_BAYES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TRAINING_BAYES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TRAINING_BAYES.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TRAINING_BAYES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TRAINING_BAYES_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TRAINING_BAYES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TRAINING_BAYES]
GO
/****** Object:  Table [dbo].[DATA_TRAINING]    Script Date: 11/27/2019 20:59:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATA_TRAINING](
	[STT] [float] NULL,
	[HOVATEN] [nvarchar](255) NULL,
	[TUOI] [float] NULL,
	[NHOMNGUOI] [nvarchar](255) NULL,
	[KHOIHOCYEUTHICH] [nvarchar](255) NULL,
	[HOCLUC] [nvarchar](255) NULL,
	[KINHTE] [nvarchar](255) NULL,
	[NGANHCHON] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[DATA_TRAINING] ([STT], [HOVATEN], [TUOI], [NHOMNGUOI], [KHOIHOCYEUTHICH], [HOCLUC], [KINHTE], [NGANHCHON]) VALUES (80, N'ĐẠI CA HUY', 20, N'Người thích công việc suy nghĩ logic ', N'Khối khoa học tự nhiên', N'Giỏi', N'Trung lưu', N'Nhóm ngành kí thuật')
INSERT [dbo].[DATA_TRAINING] ([STT], [HOVATEN], [TUOI], [NHOMNGUOI], [KHOIHOCYEUTHICH], [HOCLUC], [KINHTE], [NGANHCHON]) VALUES (83, N'Hồng Gấm', 19, N'Người thích đàm phán', N'Khối khoa học xã hội', N'Khá', N'Hoàn cảnh khó khăn', N'Nhóm quốc phòng an ninh')
INSERT [dbo].[DATA_TRAINING] ([STT], [HOVATEN], [TUOI], [NHOMNGUOI], [KHOIHOCYEUTHICH], [HOCLUC], [KINHTE], [NGANHCHON]) VALUES (84, N'Thu Thảo', 19, N'Người thích tổ chức(Quản lí nhà hàng khách sạn, ...)', N'Khối khoa học xã hội', N'Giỏi', N'Thượng lưu', N'Nhóm quốc phòng an ninh')
GO
USE [master]
GO
